.gameContainer {
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: darkgreen;
}

.topbar {
    -fx-background-color: #ccc;
}

.pauseBtn {
    -fx-background-color: transparent;
    -fx-background-image: url(/navigation/bt_pause.png);
}

.pauseBtn:hover {
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: darkgreen;
    -fx-border-radius: 50%;
    -fx-cursor: hand;
}

.healthBar {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: #000;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: red;
}

.healthBarLive {
    -fx-fill: limegreen;
}