.menuBtn {
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-color: darkgreen;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: transparent;
    -fx-font-size: 36px;
}

.backBtn {
    -fx-border-style: none;
    -fx-background-radius: 8px;
    -fx-background-color: transparent;
    -fx-font-size: 36px;
    -fx-text-fill: darkgreen;
}

.menuBtn:hover, .backBtn:hover {
    -fx-background-color: darkgreen;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.backdrop {
    -fx-background-image: url(/main_menu/bg.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-color: #000;
}

.title {
    -fx-font-size: 48px;
}